/* General Resets */
* {
    box-sizing: none;
    margin: 0;
    padding: 0;
}

p, li {
    font-size: 20px;
}

button, .button, input, .btn-secondary {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

html {
    scroll-behavior: smooth;
}

/* Header & Main Nav */
header {
    background: #1A1A1A;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav {
    width: 80%;
    margin: 0 auto;
}

nav li {
    font-size: 14px;
}

body { 
    background-color: #F7F7F9;
}

main {
    margin: 0 auto;
    width: 100%;
}

/* Hero section customization */
.hero {
    /* position: relative; */
    background: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,0.1)), url(../images/sushi-hero.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.jumbotron {
    position: absolute;
    margin: 15% 10%;
    background: transparent;
}

.jumbotron h1 {
    color: #F7F7F9;
}

.jumbotron p {
    color: #F7F7F9;
}

.hero .lead {
    width: 80%
}

.location-details-home {
    max-width: 80%;
}

/* Menu Section Styles */
.menu-header {
    text-align: center;
}

.menu-heading-container {
    background: #f9f9f2;
    width: 90%;
    margin: 0 auto;
    border: solid #00000031 2px;
    /* border-radius: 2px; */
}

.menu-container {
    width: 80%;
    margin: 0 auto;
}

.menu-nav {
    justify-content: center;
}

.menu-nav li a {
    font-size: 16px;
    color: #55595c;
    transition: all ease 0.3s;
}

.menu-nav li a:hover {
    color: goldenrod;
    transition: all ease 0.3s;
}

.menu-item-all {
    margin: 0 auto;
}

.menu-item-all h3 {
    font-size: 18px;
}


/* Scrollbar customization */
.scrollbar::-webkit-scrollbar-thumb {
    background-color:goldenrod!important;
}

.gallery-container {
    width: 80%;
    margin: 0 auto;
}


.gallery {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}	

.gallery img {
    width: 100%; padding: 7px 0;
}

.hide {
    display: none;
  }


/* Media Queries */

@media screen and (max-width: 769px) {
    .hero {
        background: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,0.1)), url(../images/sushi-hero.jpg) no-repeat center center; 
    }
    
    .jumbotron {
        margin-top: 175px;
        width: 90%
    }

    .menu-description {
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 500px) {		
    .gallery {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
    }

}